<header>

  <% if (user == undefined){ %>
      <form float="left" method="GET" action="/login">
        <input type="submit" value="login">
      </form>

      <form float="left" method="GET" action="/register">
        <input type="submit" value="register">
      </form>

  <% } else {%>
    <form method="POST" action="/logout">
        <%= `Hello ${user} !! ` %><input type="submit" value="logout">
    </form>
  <% } %>

</header>

