<html lang="en">

<%- include partials/_header %>

<body>
    
  <!--take shortURL and display the full URL-->

      <li><a href=''><%= shortURL %></a><%= `:  ${urls[shortURL]}`%></li>
  

  <!-- Add your EJS code here -->
</body>
</html>
