<html lang="en">

<%- include partials/_header %>

<body>
  
  <!--list url in a table, create href for short urls-->
  <ul>
    <% for (let url in urls){ %>
    
      <!-- adding DELETE button using POST method -->
      <form method="POST" action="/urls/<%= url %>/delete">
        <li> <a href=''><%= url %></a><%= `:  ${urls[url]} ` %><input type="submit" value="Delete"></li>
      </form>
    
    <% } %>
  </ul>
  

  <!-- adding form element using POST method as DELETE -->
</body>
</html>
